<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="de.shashwat.eclipse.rxjava.sample">
         <property
               name="lifeCycleURI"
               value="bundleclass://de.shashwat.eclipse.rxjava.sample/de.shashwat.eclipse.rxjava.sample.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/de.shashwat.eclipse.rxjava.sample/css/default.css">
         </property>
         <property
               name="appName"
               value="de.shashwat.eclipse.rxjava.sample">
         </property>
      </product>
   </extension>

</plugin>
