<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="de.shashwat.gef5.eg.mindmap">
         <property
               name="lifeCycleURI"
               value="bundleclass://de.shashwat.gef5.eg.mindmap/de.shashwat.gef5.eg.mindmap.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/de.shashwat.gef5.eg.mindmap/css/default.css">
         </property>
      </product>
   </extension>

</plugin>
