<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.shashwat.de/xtext/homeauto/RuleDSL"
			class = "de.shashwat.xtext.homeauto.ruleDSL.RuleDSLPackage"
			genModel = "model/generated/RuleDSL.genmodel" />
	</extension>
</plugin>
